{%extends "base.html" %}

{%block page_content%}
<h2>Documents</h2>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Download</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {%for doc in documents %}
        <tr>
            <td><a href="{% url 'summary' doc.id%}">{{doc.title}}</a></td>
            <td>{{doc.upload_at}}</td>
            <td>
                <a href="{{doc.upload.url}}" class="btn btn-primary btn-small" target="_blank">Download Document</a>
            </td>
            <td>
                <form action="{% url 'delete_document' doc.id %}", method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-small">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock page_content%}